* {
    font-family: JetBrainsMonoNerdFont;
    font-size: 14px;
    transition: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: transparent;
    color: #c5c9c5;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    background: transparent;
}

#workspaces button {
    color: #4b4e57;
    padding: 0 5px;
    background: transparent;
}

#workspaces button.active, #workspaces button.focus {
    color: #c5c9c5;
    /* background: #22262D; */
}

#workspaces button:hover {
}

#workspaces button.urgent {
    color: #C34043;
}

#mode {
}

#clock,
#battery,
#load,
#user,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 5px 10px;
    background-color: inherit;
    color: #717C7C;
}

#clock,
#user {
    color: #c5c9c5;
}

#window {
    color: #717C7C;
    padding: 0 5px;
    /* background-color: #22262D; */
}

window#waybar.empty #window {
    background: transparent;
    padding: 0;
    margin: 0;
}

.modules-left>widget:first-child {
    /* margin-left: 0; */
}

.modules-right>widget:last-child {
    /* margin-right: 0; */
}
