* {
    font-family: JetBrainsMonoNerdFont;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: #c5c9c5;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    color: #c5c9c5;
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button.active {
}

#workspaces button:hover {
}

#workspaces button.focused {
}

#workspaces button.urgent {
}

#mode {
}

#clock,
#battery,
#load,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 5px 10px;
    background-color: inherit;
}

#window,
#workspaces {
}

.modules-left>widget:first-child {
    margin-left: 0;
}

.modules-right>widget:last-child {
    margin-right: 0;
}
